// 行高
// lh-sm 1.375
.lh_1
  line-height: 1.65
// lh-base 1.5
.lh_2
  line-height: 1.72
// lh-lg 2
.lh_3
  line-height: 2.07


// 負間距
.mb-n8
  margin-bottom: -32px
.ms-n4
  margin-left: -16px
.me-n8
  margin-right: -32px

// 點擊效果
.cursor_pointer
  cursor: pointer


.btn_custom_success
  &:hover
    color: $success

// icon
// 24*24


// 圖片
// 40*40
// 141*141


// 字體s
// 12/24(2)

// 14/21(1.5)
// 14/24(1.72)
// 14/33(1.72)

// 16/24(1.5)
// 16/33(2.07)

// 20/33(1.65)

// 24/33(1.375)
// 24/36(1.5)



// 顏色
// success:             #198754
// danger:              #DC3545
// white:               #FFFFFF
// light:     gray-100  #F8F9FA
// gray:      gray-400  #CED4DA
// secondary: gray-600  #6C757D
// dark:      gray-900  #212529

// 寬度
// regular    fw-light:  400
// medium     fw-normal: 500
// bold       fw-bold:   700
// block      fw-bolder: 900

// 文字
// fs-1    40
// fs-2    32
// fs-3    24
// fs-4    16
// fs-5:   14
// fs-6:   12

// 間距
// 0:    0
// 1:    4
// 2:    8
// 3:    12
// 4:    16
// 5:    18
// 6:    20
// 7:    24
// 8:    32
// 9:    48